body{
	background-color:#CEF6D8;
	}

h1	{
	text-align: center;
	color: #000000;
	font-family:"Verdana", "Lucida Sans Unicode", sans-serif;
	}

span{
	color:#313131;
	font-size: 18px;
	}

table
	{
	text-align: center;
	width:70%; 
	margin-left:15%; 
	margin-right:15%;
	}

input
	{
	text-align: center;
	background-color:#FFFFFF;
	}

label
	{
	text-align: center;
	color:#000000;
	font-size: 18px;
	}

textarea
	{
	width: 100%;
	height: 400px;
	padding: 20px 20px;
	box-sizing: border-box;
	border: 2px solid #9A9A9A;
	border-radius: 4px;
	background-color: #FFFFFF;
	font-size: 16px;
	color:#313131;
	}

.boton input
	{
	background-color:#E7ABC3;
	}

.boton
	{
	text-align: center;
	margin-top: 20px;
	}

